#title{ 
  font-family: cursive;
  background-color: white;
}

#preview{ 
  background-image: url(./images/bubbles.png);
  background-repeat: no-repeat;
  background-size: cover;
}

ul { 
  list-style-type: none;
}

.fa-check-square { 
  color: #17bebb;
}

#introButton{ 
  background-color: #17bebb;
  border: none;
  width: 75%;
  margin: auto;
}

#featuredOn{ 
  background-color: lightyellow
}

.featuredTitle{ 
 position: relative; 
 text-align: center; 
}
.featuredTitle:before {
  content: "";
  display: block;
  border-top: solid 2px #bebebe;
  width: 100%;
  height: 2px;
  position: absolute;
  top: 50%;
  z-index: 0;
}
.featuredTitle span {
  background: lightyellow;
  padding: 0 10px;
  position: relative;
  z-index: 1;
}